{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <h1 class="ui header">Your Files</h1>
    <div class ="ui link cards">
    {%  for i in range(20) %}
        <div class="card">
            <div class="image">
              <img src={{ url_for('static', filename='img/error.png') }}>
            </div>
            <div class="content">
              <div class="header">Matt Giampietro</div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <div class="description">
                Matthew is an interior designer living in New York.
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                {{ bro }} Friends
              </span>
            </div>
        </div>
    {%  endfor %}
    </div>

{% endblock %}