{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="one column row centered">
        <h1 class="ui icon header">
            <i class="lock icon"></i>
            <div class="content">
                NetSecShare
                <div class="sub header">Where your privacy matters</div>
            </div>
        </h1>
    </div>
    <div class="ui section divider"></div>
    <div class="ui one column row">
        <h2 class="ui header">
            <i class="question icon"></i>
            What is NetSecShare
        </h2>
    </div>
    <div class="ui text container">
    </div>
    </div>

{% endblock %}
