{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="one column row">
        <h1 class="ui header"> Upload your files!</h1>
    </div>
    <div class="ui section divider"></div>

    {#    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">#}
    {#    <input type=file name=file>#}
    {#    <input type="submit">#}
    {#    </form>#}
    {#        <form class="ui form" method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">#}
    {#            <label for="file" class="ui icon button">#}
    {#            <input type=file name=file class="ui action right labeled icon button">#}
    {#        <input class="ui teal right labeled icon button" type="submit">#}
    {#            <i class="file icon"></i>#}
    {#            Upload#}
    {#            </input>#}
    {#            <button class="ui teal right labeled icon button" type="submit">#}
    {#                <i class="file icon"></i>#}
    {#                Upload#}
    {#            </button>#}
    {#        </form>#}
    <div class="two column row">
        <div class="one column">
            <form action="{{ url_for('upload') }}" class="dropzone ui form" id="myDropzone" method="POST"
                  enctype="multipart/form-data" name="file">
            </form>
        </div>
        <div class="one column">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <button id="dropzoneButton" class="hidden center left floating ui positive right labeled icon button">
                <i class="right upload icon"></i>
                Upload Em
            </button>
        </div>
    </div>
    <script>
{#        $(document).ready(function () {#}
{#            $("#dropzoneButton").click( function(){#}
{#                // move the files to users directory#}
{#                $("#dropzoneButton").addClass('loading');#}
{##}
{#            })#}
{#        });#}
    </script>
{% endblock %}