{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="one column row">
        <h1 class="ui header"> Upload your files!</h1>
    </div>
    <div class="ui section divider"></div>
    <div class="two column row">
        <div class="one column">
            <form action="{{ url_for('upload') }}" class="dropzone ui form" id="myDropzone" method="POST"
                  enctype="multipart/form-data" name="file">
            </form>
        </div>
        <div class="one column">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <button id="dropzoneButton" class="hidden center left floating ui positive right labeled icon button">
                <i class="right upload icon"></i>
                Upload Em
            </button>
        </div>
    </div>
{% endblock %}